/*------------------------------------*\
** SEARCH
\*------------------------------------*/

.form--search {
  display: inline-block;

  & > * {
    display: inline-block;
  }
}



/*------------------------------------*\
** DEFAULTS
\*------------------------------------*/

.form__wrap{
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint ($medium) {
    padding: 120px 40px;
    align-items: center;
  }

  @include breakpoint ($large) {
    justify-content: flex-start;
    padding: 120px 60px;
  }

  @include breakpoint ($xlarge) {
    padding: 120px 132px;
  }
}
.form__fieldset {
  border: none;
  color: $base-font-color;
  padding: 0;
  margin: 0;
  margin-bottom: 1/2*$gutter;
}

.form__field {

  &:nth-child(4){
    background: red;
  }

}

.input, .textarea {
  border: $input-border;
  color: $base-font-color;
  background-color: $cqd-white;
  padding: $input-padding;
  display: block;
  width: 100%;
  font-family: $base-font-family;
  font-weight: $regular;
  transition: $transition-time;
  border-radius: $input-radius;

  &:focus {
    border-color: $color-primary;
    transition: $transition-time;
    outline: 0;
  }

  &::placeholder {
    color: $base-font-color;
  }
}

.textarea {
  background-color: $cqd-gray--lighter;
}

.legend {}

.label {
  font-size: 0.8rem;
  font-weight: $semibold;
}


.form__field--error {
  .input, .textarea {
    border: 1px solid $cqd-purple;
    transition: $transition-time;
    outline: 0;
  }
}

.form__alert {
  font-size: 0.8rem;
}

.form__alert--error {
  color: $cqd-purple;
}


  .js_validate_me{
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 5px;
    font-size: 16px;
    color: #505050;
    line-height: 1.5;
    font-family: 'lato';
    outline: none;
  }




label{
  padding: 5px 0;
  color: #b6b6b6;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-weight: 900;
}

.form_field{
  margin-bottom: 20px;

  @include breakpoint ($medium) {
    margin-bottom: 30px;
  }

  @include breakpoint ($large) {
    margin-bottom: 56px;
  }
}

    .button--form{
      width: 100%;
      height: 60px;
    border-radius: 30px;
    background: $cqd-purple;
    font-size: 14px;
    font-weight: $extrabold;
    color: $cqd-white;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    transition: background 0.3s;

    &.disabled{
      background: $cqd-gray;
      transition: background 0.3s;
    }

    &:hover{
      transition: 300ms ease-in-out;
      opacity: 0.8;
    }
  }

.success-block{
  transition: color 0.3s;
}

.has-error{
  transition: color 0.3s;
  border-bottom: $cqd-purple solid 1px;
  color: $cqd-purple;
}

h2{
  font-size: 28px;
  font-weight: 900;
  color: $cqd-black;
  margin-bottom: 46px;
}

.contact_page_form{
  width: 100%;
  max-width: 500px;
}

input, textarea{
  background: $cqd-white;
  resize: none;
  border-bottom: 1px solid $cqd-gray;
}

textarea{
  background-color: $cqd-gray--lighter;
  height: 100px;
  margin-top: 1rem;
}

.help-block{
  position: absolute;
  font-size: 12px;
  color: $cqd-purple;
}

.support-message{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__heading{
    margin-bottom: 46px;

    h2{
      margin: 0;
    }
  }

  &__text{
    margin-bottom: 46px;
  }

  &__button{
    width: 100%;
    margin: 0;

    button{
      width: 100%;
    }
  }
}
