<div class="grid-container">

	<div class="nav">MeowMeow App</div>

	<div class="sidebar">


	 </div>


	<div class="area1">  
		<%= image_tag "cat.jpg", class:"full--width full--height cover" %>
	</div>

	<div class="area2">
		 <div id="columnchart_material" class="full--width full--height clearfix"></div>
		
	</div>

	<div class="area3">
			<h2>Feeding times:</h2>
			<div id="times" class="small-12 large-12 columns text-center"></div>

			<p>You've fed your cat <strong id="timesfed"></strong> times.</p>
	</div>

	<div class="sidebar2">
			<div id="myPieChart" class="full--width full--height"></div>
	</div>
	

	<div class="footer">#feedthecat</div>
</div>