.grid--center {
  justify-content: center;
}

.grid-container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "nav"
  "sidebar"
  "area1"
  "area2"
  "area3"
  "sidebar2"
  "sidebar3"
  "footer";

  @include breakpoint($medium ){
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav" 
    "sidebar sidebar area1 area1 area1 area1 area3 area3 area3 sidebar2 sidebar2 sidebar2" 
    "sidebar sidebar area1 area1 area1 area1 area3 area3 area3 sidebar2 sidebar2 sidebar2" 
    "sidebar sidebar area1 area1 area1 area1 area3 area3 area3 sidebar2 sidebar2 sidebar2" 
    "sidebar sidebar area1 area1 area1 area1 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area1 area1 area1 area1 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area2 area2 area2 area2 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area2 area2 area2 area2 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area2 area2 area2 area2 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area2 area2 area2 area2 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "sidebar sidebar area2 area2 area2 area2 area3 area3 area3 sidebar3 sidebar3 sidebar3" 
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

.nav { 
  grid-area: nav; 
  border:2px solid $color-primary;
  background-color: $color-primary;
  padding: 0 2rem;
}

.footer { 
  grid-area: footer; 
  border:2px solid $color-primary;
  background-color: $color-primary;
}

.sidebar { 
  grid-area: sidebar; 
  border:2px solid $color-primary;
  background-color: $color-secondary;
  padding: 1rem;
}

.area1 { 
  grid-area: area1; 
  border:2px solid $color-primary;
  padding: 1rem;
}

.area2 { 
  grid-area: area2; 
  border:2px solid $color-primary;
  padding: 1rem;

  height: 70vh;

  @include breakpoint($medium) {
    height: auto;
  }
}

.sidebar2 { 
  grid-area: sidebar2; 
  border:2px solid $color-primary;
    padding: 1rem;

  p {
    margin: auto;
    height: 100%;

    strong {
      font-size: 1.5rem;
    }
  }
}

.sidebar3 { 
  grid-area: sidebar3; 
  border:2px solid $color-primary;
  padding: 1rem;

}

.area3 { 
  grid-area: area3;
  border:2px solid $color-primary;
  padding: 1rem;
}
